body {
    background-color: #A71108;
    margin: 0;
}

#header {
    color: #999999;
    padding: 4.5em 0 2.5em 0;
    color: #b0b0b0;
    text-align: center;
    border-bottom: solid 2px #000000;
}

#body {
    background-color: #8F2B22;
    color: #999999;
    padding: 4.5em 0 2.5em 0;
    color: #b0b0b0;
    text-align: center;
}

img.icon {
    width: 3em;
    height: 3em;
}

img.thumbnail {
    width: 40em;
    height: 30em;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-container>div {
    background-color: #b02013;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
}

#footer {
    background-color: #b02013;
    color: #999999;
    padding: 4.5em 0 2.5em 0;
    color: #b0b0b0;
    text-align: center;
    border-top: solid 2px #000000;
    box-shadow: 0 50vh 0 50vh #b02013;
}

.button {
    background-color: transparent;
    color: #ffffff !important;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.button.primary {
    box-shadow: none;
    background-color: #ffffff;
    color: #4696e5 !important;
}

.button {
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}